<x-login-page>
    <section>

        <div class="email-wrapper"></div>
        <form class="password-form invisible">
            <label for="password">Password</label>
            <input type="password" id="password" required />
            <button type="submit" class="btn btn-primary">
                <span class="active-state">Login</span>

                <span class="loading-state d-none">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </span>
            </button>
        </form>
    </section>
</x-login-page>
