<x-user-info-page class="container-sm">
    <button type="button" class="log-out btn btn-danger float-end" aria-label="Log out">Log out</button>
    <section class="row">
        <div class="col-8">
            <h1 class="name"></h1>
            <h2 class="role"></h2>
            <ul>
                <li>Id: <span class="id"></span></li>
                <li>Age: <span class="age"></span> years</li>
                <li>Email: <span class="email"></span></li>
            </ul>
        </div>
        <div class="col align-self-end">
            <img class="avatar img-thumbnail float-end" style="max-width: 200px;" alt="Avatar" />
        </div>
    </section>
</x-user-info-page>