<x-password-form>
    <form class="password-form">
        <label for="password">Password</label>
        <div class="mb-3">
            <input
                type="password"
                class="form-control"
                placeholder="Password"
                aria-label="Password"
                id="password"
                required
            />
        </div>
        <button type="submit" class="btn btn-success">
            <span class="active-state">Login</span>

            <span class="loading-state d-none">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </span>
        </button>
    </form>
</x-password-form>