<x-email-form>
    <form class="email-form">
        
        <label for="email">Email</label>
        <div class="input-group mb-3">
            <input
                type="email"
                class="form-control"
                placeholder="username@example.com"
                aria-label="Email"
                id="email"
                required
            />
            <div class="input-group-append d-none edit">
                <button class="btn btn-outline-secondary" type="button">Edit</button>
            </div>
        </div>
          
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</x-email-form>